Body{
    color:white;
    background:black;
    margin: 0px;
}
 
header {
    border-bottom: solid 0px rgb(0, 0, 0);
    padding: 20px;
    font-size: 50px;
    color: rgb(172, 255, 5)
}

section {
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px

}
