Body{
    color:white;
    background:black;
    margin: 0px;
}
 
header {
    border-bottom: solid 2px rgb(173,255,47);
    padding: 20px;
    font-size: 100px;
    color: rgb(154,205,50)
}

section {
    background: rgb(255,255,0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px

}
